.NavBar{
    width: 600px;
    float: right;
    position: relative;
    top: 0;
}

#hvr-grow{
    background-color: rgba(255, 255, 255, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 60px;
    width: 105px;
    font-size: 20px;
    font-weight: bold;
    border: 0px solid rgb(66,140,127);
    margin-left: 28px;
    color: white;

    /*---- Grow ----*/
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}


#hvr-grow:hover,
#hvr-grow:focus,
#hvr-grow:active {
    transform: scale(1.5);
}

.dropDown{
    visibility: hidden
}




@media screen and (max-width: 600px) {
     .NavBar{
        visibility: hidden;
    } 
    .dropDown{
        visibility: visible;
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: white;
    }
    #button{
        height: 40px;
        width: 100px;
        background-color:white;
        color: black;
        border: 1px solid black;
        margin-left: 28px;
    }
}