.main-wrapper{
    background-color: rgb(72,140,126)
}
.contact{
    display: flex;
    flex-direction:column;
    width: 300px;
    /* align-items: center; */
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#contact-title{
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: bold
}

.quick-links{
    display: flex;
    flex-direction:column;
    width: 300px;
    height:400px;
    align-items: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.socialDiv{
    display: flex;
     flex-direction:row;
     justify-content: space-evenly;
}

.main-second{
    margin-top: 20px; 
    margin-bottom: 20px;
}

#tour{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 200px;
    width: 200px;
}

#logo{
    border-left: 2px solid black;
}


/* changed to max to min */
@media screen and (min-width: 1920px){
    .quick-links{
        right: 200px;
    } 
    .contact{
        left: 200px;
    }   
}


@media screen and (max-width: 600px) { 
    .quick-links{
        display: flex;
        flex-direction:column;
        background-color: rgb(66,140,127);

    }
    .contact{
        display: flex;
        flex-direction:column;
        background-color: rgb(66,140,127);
    }
    #logo{
        border-left: 2px solid white;
    }
}
