.wrapper {
    display: flex;
    background-color: white;
    font-family: sans-serif;
    padding: 10px;
  }
  .main {
    width: 950px;
    height: 100%;
    padding: 15px;
    background-color: #fff;
  }
  .sidebar {
    width: 200px;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    background-color: red;
  }

  @media screen and (max-width: 600px) {
    .sidebar{
        margin-left: 0px;
    }
    .container{
        width: 250px;
    }
}