@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Caveat|ZCOOL+XiaoWei');

.header-container {
    width: 100%;
    height: 150px;
    background:rgb(72,140,126);
    position: relative;
  }

  .textSeal{
    width: 375px;
    height: 143px;
    position: absolute;
    top: auto;
    bottom: 7px;
    right: 0px;
    left: 40px;
  }



.header-text{
    width: 270px;
    height: 90px;
    position: relative;
    left: 100px;
    top: 30px;
    color: rgb(215,174,88);
}

#font-top {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    width: 120px;
    margin-left: 100px;
    line-height: 80%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

#city-name {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 70px;
    line-height: 70%;
    width: 265px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

#found{
    font-family: 'Caveat', cursive;
    font-size: 15px;
    width: 212px;
    letter-spacing: 10px;
    margin: auto;
  }

  .sealCont{
    position: relative;
    bottom: 55px;
    width:90px;
  }


#seal{
  height: 90px;
  width: 90px;
}




    /* ---- Media Q ---- */

    @media screen and (max-width: 600px) {
      .header-container {
        width: 100%;
      }
      #seal{
        height: 90px;
        width: 90px;
      }
      .sealCont{ 
        bottom: 73px;
    }
    .textSeal{
      width:200px;
    }
      .header-text{
        visibility: hidden
      }
    }
    /*--------*/


