.header-container {
    width: 100%;
    height: 110px;
    background:rgb(72,140,126);
  }


.header-text{
    width: 270px;
    height: 90px;
    position: absolute;
    left: 15px;
    top: 8px;
    color: rgb(215,174,88);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#font-top {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    width: 120px;
    margin-left: 100px;
    line-height: 80%;
  }

#city-name {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 70px;
    line-height: 70%;
    width: 265px;
  }
#found{
    font-family: 'Caveat', cursive;
    font-size: 15px;
    width: 212px;
    letter-spacing: 10px;
    margin: auto;
  }

.seal-cont{
    width: 100px;
    height: 100px;
    margin-left: 300px;
    /* overflow: hidden; */
}

#seal{
    /* max-width: 100%; */
    height: 100px;
    margin-top: 5px
  }




    /* ---- Media Q ---- */
    @media screen and (max-width: 600px) {
      .header-container {
        width: 100%;
      }
      #seal{
        height: 90px;
        width: 90px;
      }
      .seal-cont{
        margin-left: 10px; 
    }
      .header-text{
        visibility: hidden
      }
    }
    /*--------*/


