.header-container {
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background: rgb(84,139,190);

    border-bottom: 2px solid black
  }

.header-text{
    /* border: 2px solid black; */
    width: 270px;
    position: absolute;
    top: 60px;
    left: 30px;
}

#font-top {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    width: 120px;
    margin-left: 100px;
    line-height: 80%;
  }

#city-name {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 70px;
    line-height: 70%;
    width: 265px;


  }
#found{
    font-family: 'Caveat', cursive;
    font-size: 15px;
    width: 212px;
    letter-spacing: 10px;
    margin: auto;
  }

.seal-cont{
    width: 300px;
    height: 200px;
    float: right;
    overflow: hidden;
}

#seal{
    /* max-width: 100%; */
    height: auto;
    opacity: 0.1;
  }


