.footer-div{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 80px;;
    background: rgb(72,140,126);
}

.social-div{
    width: 225px;
    height: 100%;
    float: right;
    margin-right: 10px;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
}
.copyright{
    margin-left: 20px;
    padding-top: 30px;
    width: 330px;
    color: rgb(215,174,88);
}


    /* ---- Media Q ---- */
    @media screen and (max-width: 600px) {
        .footer-div{
            display: flex;
            flex-direction:column;
            width: 100%;
            height: 100px;
        }
        .social-div{
          margin: auto;
        }
        .copyright{
            margin: auto;
        }
    }
      /*--------*/